<!DOCTYPE html>
<meta charset="utf-8">


<style>
.bar-chart {
  background-color: #C7D9D9;
  }
</style>

<body>
    
<script src="//d3js.org/d3.v3.min.js"></script>

<script>

var url = 'http://localhost:4000/get'
d3.json(url, function(error, data) {
    
var dataset = Object.values(data)

var svgWidth = 1500, svgHeight = 400, barPadding = 5;
var barWidth = svgWidth / dataset.length

var svg = d3.select("body").append("svg")
    .attr("width", svgWidth)
    .attr("height", svgHeight);
    
var barChart = svg.selectAll("rect")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("y", function(d) {
         return svgHeight - d 
    })
    .attr("height", function(d) { 
        return d; 
    })
    .attr("width", barWidth - barPadding)
    .attr("class", "bar")
    .attr("transform", function (d, i) {
        var translate = [barWidth * i, 0]; 
        return "translate("+ translate +")";
    });

var text = svg.selectAll("text")
    .data(dataset)
    .enter()
    .append("text")
    .text(function(d) {
        return d;
    })
    .attr("y", function(d, i) {
        return svgHeight - d - 2;
    })
    .attr("x", function(d, i) {
        return barWidth * i;
    })
    .attr("fill", "#A64C38");
  })
</script>
</body>